.Register-Container {
    box-sizing: border-box;
    position: absolute;
    width: 362px;
    height: 550px;
    left: 541px;
    top: 113px;
    background: #F5F5F5;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}
.Register-Container h2{
    width: 64px;
    height: 22px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #000000;
    margin-top: 50px;
    margin-left: 25px;
}
.Register-Container form {
    margin-left: 27px;
    margin-top: 30px;
}
.Register-Container form label{
    width: 46px;
    height: 22px;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
}
.Register-Container form input {
    width: 301px;
    height: 33px;
    background: #D9D9D9;
    border-radius: 12px;
    border: none;
}

.Register-Container .submit{
    width: 301px;
    height: 33px;
    background: #3003E7;
    border-radius: 12px;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    margin-left: 2px;
}
.Register-Container a{
    text-decoration: none;
    color: black;
   
}
.Register-Container p{
    margin-top: 40px;
    margin-left: 60px;
    cursor: pointer;
}




/* Footer section */

.Register-Footer-Container {
    position: absolute;
    width: 100%;
    height: 400px;
    left: 0px;
    top: 710px;
    background: #000000;
}

.Register-Footer-Container .footer-detail {
    display: flex;
    justify-content: space-between;
    color: white;
    /* margin-top: 150px; */
}
.Register-Footer-Container .footer-detail .Contact{
    display: flex;
    /* margin-top: 100px; */
}
.Register-Footer-Container .footer-detail .Contact .Contact-detail {
    margin-top: 140px;
}
.Register-Footer-Container .footer-detail .Contact .Contact-detail p{
    width: 310px;
    height: 16px;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    margin-left: 130px;
}
.Register-Footer-Container .footer-detail .Contact .line {
    width: 217px;
    height: 50px;
    border-top: 2px solid #FFFFFF;
    border-color: white;
    transform: rotate(89.73deg);
    margin-left: -70px;
    margin-top: 130px;
}
.Register-Footer-Container .footer-detail .partner {
    display: flex;
    margin-left: -80px;
}
.Register-Footer-Container .footer-detail .partner .partner-detail{
    margin-top: 75px;
}
.Register-Footer-Container .footer-detail .partner .partner-detail h5 {
    width: 64px;
    height: 22px;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    padding-bottom: 20px;
}
.Register-Footer-Container .footer-detail .partner p{
    width: 335px;
   
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}
.Register-Footer-Container .footer-detail .partner .line-1 {
    width: 217px;
    height: 50px;
    border-top: 2px solid #FFFFFF;
    border-color: white;
    transform: rotate(89.73deg);
    margin-left: -80px;
    margin-top: 130px;
}
.Register-Footer-Container .footer-detail .social-media {
    margin-top: 180px;
    margin-right: 90px;
    margin-left: -90px;
}
.Register-Footer-Container .footer-detail .social-media .iconify {
    font-size: 70px;
    padding-right: 10px;
}

.Register-Footer-Container .cpyright p{
    width: 1138px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 120px;
}
.Register-Footer-Container .cpyright .copy{
    width: 284px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #D9D9D9;
    margin-left: 560px;
}



/* responsive area */


@media only screen and (max-width: 992px){


    .Register-Container {
        left: 321px;
    }
  
    /* Footer section */
    
    .Register-Footer-Container {
        height: 19.813rem;
        top: 43.938rem;
    }
    
    .Register-Footer-Container .footer-detail {
        display: flex;
        justify-content: space-between;
        color: white;
    }
    .Register-Footer-Container .footer-detail .Contact{
        display: flex;
    }
    .Register-Footer-Container .footer-detail .Contact .Contact-detail {
        margin-top: 7.75rem;
    }
    .Register-Footer-Container .footer-detail .Contact .Contact-detail p{
        font-size: 1.025rem;
        margin-left: 2.125rem;
    }
    .Register-Footer-Container .footer-detail .Contact .line {
        margin-left: -6.375rem;
        margin-top: 8.525rem;
    }
    .Register-Footer-Container .footer-detail .partner {
        display: flex;
        margin-left: -80px;
    }
    .Register-Footer-Container .footer-detail .partner .partner-detail{
        margin-top: 6.25rem;
    }
    .Register-Footer-Container .footer-detail .partner .partner-detail h5 {
        font-size: 1.025rem;
    }
    .Register-Footer-Container .footer-detail .partner p{
        font-size: 1.025rem;
    }
    .Register-Footer-Container .footer-detail .partner .line-1 {
        margin-left: -6rem;
        margin-top: 8.525rem;
    }
    .Register-Footer-Container .footer-detail .social-media {
        display: flex;
        margin-right: 0.625rem;
        margin-left: -3.625rem;
    }
    .Register-Footer-Container .footer-detail .social-media .iconify {
        font-size: 3.375rem;
        padding-right: 0.625rem;
    }
    
    .Register-Footer-Container .cpyright p{
        display: none;
    }
    .Register-Footer-Container .cpyright .copy{
        display: flex;
        font-size: 1.025rem;
        margin-left: 25rem;
    }
    

}

@media only screen and (max-width: 576px){

}





